page-feed {
    h2.feed_title {
        color: #488AFF;
        font-weight: bold;
        text-transform: uppercase
    }    
    p.feed_date, p.feed_desc {
        color: #949494;
    }    
        
}
